table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 800px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.delete-btn {
  margin-left: 20px;
}
